go 1.24.1

use (
	./foo
	./packages/core/foo
	./packages/publisher
	./packages/utils
)

replace packages/publisher => github.com/dsolerh/go-test-mono/publisher v0.0.12

replace packages/utils => github.com/dsolerh/go-test-mono/utils v0.0.27
