go 1.24.1

use (
	./packages/publisher
	./packages/utils
	./publisher
	./utils
)

replace packages/utils => github.com/dsolerh/go-test-mono/utils 0.0.17

replace packages/publisher => github.com/dsolerh/go-test-mono/publisher 0.0.2
