go 1.24.1

use (
	./packages/publisher
	./packages/utils
)

replace packages/utils => github.com/dsolerh/go-test-mono/utils v0.0.17

replace packages/publisher => github.com/dsolerh/go-test-mono/publisher v0.0.2
